################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

_ReSharper.*/
bin/
obj/
Debug/
Release/